<h1>Listing users</h1>

<table width="100%">
  <tr>
    <td width="30%"><strong>Username</strong></td>
    <td width="40%"><strong>Email</strong></td>
    <td width="10%"><strong>Admin</strong></td>
    <td colspan="2" width="20%"></td>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= user.email %></td>
      <td>
        <% if user.admin? %>
          ADMIN
        <% end %>
      </td>
      <% if current_user.try(:admin?) %>	
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td><td></td>
      <% end %>
    </tr>
  <% end %>
</table>
